/* Style Geral */

body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin: 0;
}

.container {
    padding: 70px 0;
}

p,
li {
    color: #a14c79;
    font-size: 15px;
}


/* Fim do Style geral */


/**********************/


/* Barra de navegação */

header,
.navbar {
    background-color: #ff9cd1;
}

#nav-container {
    padding-top: 0;
    padding-bottom: 0;
}

#logo {
    width: 65px;
}

.navbar-brand {
    padding: 0;
    color: #FFF;
}

.navbar-brand:hover {
    color: #000000;
}

.navbar-links a {
    color: #ff9cd1;
}

.navbar-expeand-lg .navbar-nav .nav-link {
    padding: 1rem .8rem;
}